# Preprocessing

## Importing Libraries

In [233]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import pickle

## Loading Dataset

In [234]:
df = pd.read_csv('G:\Ashish Yadav\Backup Google Drive\Documents-Lecture\Github\ML-Mini-Project\data\\raw\car_dataset.csv')

## Data Exploration

In [235]:
df.head()

,Make,Model,Price,Year,Kilometer,Fuel Type,Transmission,Location,Color,Owner,Seller Type,Engine,Max Power,Max Torque,Drivetrain,Length,Width,Height,Seating Capacity,Fuel Tank Capacity
0,Honda,Amaze 1.2 VX i-VTEC,505000,2017,87150,Petrol,Manual,Pune,Grey,First,Corporate,1198 cc,87 bhp @ 6000 rpm,109 Nm @ 4500 rpm,FWD,3990.0,1680.0,1505.0,5.0,35.0
1,Maruti Suzuki,Swift DZire VDI,450000,2014,75000,Diesel,Manual,Ludhiana,White,Second,Individual,1248 cc,74 bhp @ 4000 rpm,190 Nm @ 2000 rpm,FWD,3995.0,1695.0,1555.0,5.0,42.0
2,Hyundai,i10 Magna 1.2 Kappa2,220000,2011,67000,Petrol,Manual,Lucknow,Maroon,First,Individual,1197 cc,79 bhp @ 6000 rpm,112.7619 Nm @ 4000 rpm,FWD,3585.0,1595.0,1550.0,5.0,35.0
3,Toyota,Glanza G,799000,2019,37500,Petrol,Manual,Mangalore,Red,First,Individual,1197 cc,82 bhp @ 6000 rpm,113 Nm @ 4200 rpm,FWD,3995.0,1745.0,1510.0,5.0,37.0
4,Toyota,Innova 2.4 VX 7 STR [2016-2020],1950000,2018,69000,Diesel,Manual,Mumbai,Grey,First,Individual,2393 cc,148 bhp @ 3400 rpm,343 Nm @ 1400 rpm,RWD,4735.0,1830.0,1795.0,7.0,55.0

In [236]:
df['Model'].nunique()

1050

In [237]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2059 entries, 0 to 2058
Data columns (total 20 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Make                2059 non-null   object
 1   Model               2059 non-null   object
 2   Price               2059 non-null   int64
 3   Year                2059 non-null   int64
 4   Kilometer           2059 non-null   int64
 5   Fuel Type           2059 non-null   object
 6   Transmission        2059 non-null   object
 7   Location            2059 non-null   object
 8   Color               2059 non-null   object
 9   Owner               2059 non-null   object
 10  Seller Type         2059 non-null   object
 11  Engine              1979 non-null   object
 12  Max Power           1979 non-null   object
 13  Max Torque          1979 non-null   object
 14  Drivetrain          1923 non-null   object
 15  Length              1995 non-null   float64
 16  Width               1995 non-null   float64
 17  Height              1995 non-null   float64
 18  Seating Capacity    1995 non-null   float64
 19  Fuel Tank Capacity  1946 non-null   float64
dtypes: float64(5), int64(3), object(12)
memory usage: 321.8+ KB

In [238]:
df.describe()

,Price,Year,Kilometer,Length,Width,Height,Seating Capacity,Fuel Tank Capacity
count,2.059000e+03,2059.000000,2.059000e+03,1995.000000,1995.000000,1995.000000,1995.000000,1946.000000
mean,1.702992e+06,2016.425449,5.422471e+04,4280.860652,1767.991980,1591.735338,5.306266,52.002210
std,2.419881e+06,3.363564,5.736172e+04,442.458507,135.265825,136.073956,0.822170,15.110198
min,4.900000e+04,1988.000000,0.000000e+00,3099.000000,1475.000000,1165.000000,2.000000,15.000000
25%,4.849990e+05,2014.000000,2.900000e+04,3985.000000,1695.000000,1485.000000,5.000000,41.250000
50%,8.250000e+05,2017.000000,5.000000e+04,4370.000000,1770.000000,1545.000000,5.000000,50.000000
75%,1.925000e+06,2019.000000,7.200000e+04,4629.000000,1831.500000,1675.000000,5.000000,60.000000
max,3.500000e+07,2022.000000,2.000000e+06,5569.000000,2220.000000,1995.000000,8.000000,105.000000

In [239]:
df.columns

Index(['Make', 'Model', 'Price', 'Year', 'Kilometer', 'Fuel Type',
       'Transmission', 'Location', 'Color', 'Owner', 'Seller Type', 'Engine',
       'Max Power', 'Max Torque', 'Drivetrain', 'Length', 'Width', 'Height',
       'Seating Capacity', 'Fuel Tank Capacity'],
      dtype='object')

In [240]:
df.shape

(2059, 20)

In [241]:
# df.corr()

In [242]:
df.isna().sum()

Make                    0
Model                   0
Price                   0
Year                    0
Kilometer               0
Fuel Type               0
Transmission            0
Location                0
Color                   0
Owner                   0
Seller Type             0
Engine                 80
Max Power              80
Max Torque             80
Drivetrain            136
Length                 64
Width                  64
Height                 64
Seating Capacity       64
Fuel Tank Capacity    113
dtype: int64

## Data Preprocessing

In [243]:
def fix_engine(item):
  if pd.isnull(item):
    return None
  return int(item.split(" ")[0])
df['Engine'] = df['Engine'].apply(fix_engine)

In [244]:
engine_mean = df['Engine'].mean()
df['Engine'] = df['Engine'].fillna(engine_mean)

In [245]:
drivetrain_mode = df['Drivetrain'].mode()
def fix_drivetrain(item):
  if pd.isnull(item):
    return drivetrain_mode
  return item

In [246]:
df['Drivetrain'] = df['Drivetrain'].apply(fix_drivetrain)

In [247]:
length_mean = df['Length'].mean()
df['Length'] = df['Length'].fillna(length_mean)

In [248]:
fuel_tank_mean = df['Fuel Tank Capacity'].mean()
df['Fuel Tank Capacity'] = df['Fuel Tank Capacity'].fillna(round(fuel_tank_mean))

In [249]:
seating_capacity_mean = df['Seating Capacity'].mean()
df['Seating Capacity'] = df['Seating Capacity'].fillna(round(seating_capacity_mean))

In [250]:
def remove_outliers(df,cols):
  df_cleaned = df.copy()
  for col in cols:
    q1 = df_cleaned[col].quantile(0.25)
    q3 = df_cleaned[col].quantile(0.75)
    iqr = q3-q1
    low = q1 - 1.5*iqr
    high = q3 + 1.5*iqr
    df_cleaned = df_cleaned[(df_cleaned[col]>=low) & (df_cleaned[col]<=high)]
  return df_cleaned

In [251]:
cleaned_df = remove_outliers(df,['Kilometer','Engine','Length','Seating Capacity','Fuel Tank Capacity','Price'])

In [252]:
cleaned_df.describe()

,Price,Year,Kilometer,Engine,Length,Width,Height,Seating Capacity,Fuel Tank Capacity
count,1.419000e+03,1419.000000,1419.000000,1419.000000,1419.000000,1366.000000,1366.000000,1419.0,1419.000000
mean,8.581169e+05,2016.000000,52264.312192,1421.692027,4115.345747,1719.412152,1545.258419,5.0,45.738196
std,6.526262e+05,3.273176,26374.411351,363.531401,367.659564,114.250156,81.838498,0.0,9.766382
min,7.100100e+04,1996.000000,600.000000,793.000000,3395.000000,1475.000000,1370.000000,5.0,27.000000
25%,4.099990e+05,2014.000000,32677.000000,1197.000000,3850.000000,1680.000000,1483.000000,5.0,37.000000
50%,6.250000e+05,2016.000000,51834.000000,1368.000000,3995.000000,1729.000000,1520.000000,5.0,43.000000
75%,1.082500e+06,2018.000000,70581.000000,1591.000000,4405.000000,1790.000000,1608.000000,5.0,52.000000
max,3.025000e+06,2022.000000,135797.000000,2997.000000,4969.000000,2141.000000,1800.000000,5.0,75.000000

In [253]:
arr = ['Make','Fuel Type','Transmission','Owner','Seating Capacity']
for i in arr:
  print(cleaned_df[i].unique(),'\n')
  print(cleaned_df[i].value_counts(),'\n')

['Honda' 'Maruti Suzuki' 'Hyundai' 'Toyota' 'Mercedes-Benz' 'BMW' 'Skoda'
 'Nissan' 'Renault' 'Tata' 'Volkswagen' 'Ford' 'Audi' 'MG' 'Jeep'
 'Mahindra' 'Kia' 'Volvo' 'Jaguar' 'Land Rover' 'Fiat' 'MINI' 'Datsun'
 'Chevrolet' 'Lexus']

Make
Maruti Suzuki    398
Hyundai          337
Honda            154
Audi              82
BMW               51
Volkswagen        49
Mercedes-Benz     48
Renault           42
Tata              42
Toyota            39
Ford              34
Skoda             32
Kia               22
Jeep              17
Nissan            16
MG                12
Volvo             10
Datsun             7
Mahindra           6
Chevrolet          6
Jaguar             5
MINI               4
Land Rover         3
Fiat               2
Lexus              1
Name: count, dtype: int64

['Petrol' 'Diesel' 'CNG' 'LPG' 'Electric' 'CNG + CNG' 'Petrol + CNG'
 'Petrol + LPG']

Fuel Type
Petrol          805
Diesel          556
CNG              43
Electric          7
LPG               5
CNG + CNG         1
Petrol + CNG      1
Petrol + LPG      1
Name: count, dtype: int64

['Manual' 'Automatic']

Transmission
Manual       927
Automatic    492
Name: count, dtype: int64

['First' 'Second' 'Third' 'Fourth' 'UnRegistered Car' '4 or More']

Owner
First               1135
Second               250
Third                 27
UnRegistered Car       5
Fourth                 1
4 or More              1
Name: count, dtype: int64

[5.]

Seating Capacity
5.0    1419
Name: count, dtype: int64

In [254]:
final_df =  cleaned_df[['Make','Model','Year','Kilometer','Fuel Type','Transmission','Owner','Engine', 'Length','Seating Capacity', 'Fuel Tank Capacity','Price']]

In [255]:
final_df.sample(5)

,Make,Model,Year,Kilometer,Fuel Type,Transmission,Owner,Engine,Length,Seating Capacity,Fuel Tank Capacity,Price
1621,Hyundai,Eon Magna +,2017,56000,Petrol,Manual,First,814.0,3495.0,5.0,32.0,325000
1440,Audi,A4 1.8 TFSI Multitronic Premium Plus,2010,67000,Petrol,Automatic,Second,1798.0,4701.0,5.0,63.0,1000000
1537,Ford,Ecosport Titanium + 1.5L TDCi [2019-2020],2019,28000,Diesel,Manual,First,1498.0,3998.0,5.0,52.0,850000
381,Honda,City 1.5 S MT,2009,85000,Petrol,Manual,Second,1497.0,4420.0,5.0,42.0,269000
1412,Hyundai,i10 Magna 1.2 Kappa2,2011,21000,Petrol,Manual,First,1197.0,3585.0,5.0,35.0,350000

In [256]:
final_df.shape

(1419, 12)

In [257]:
final_df.describe()

,Year,Kilometer,Engine,Length,Seating Capacity,Fuel Tank Capacity,Price
count,1419.000000,1419.000000,1419.000000,1419.000000,1419.0,1419.000000,1.419000e+03
mean,2016.000000,52264.312192,1421.692027,4115.345747,5.0,45.738196,8.581169e+05
std,3.273176,26374.411351,363.531401,367.659564,0.0,9.766382,6.526262e+05
min,1996.000000,600.000000,793.000000,3395.000000,5.0,27.000000,7.100100e+04
25%,2014.000000,32677.000000,1197.000000,3850.000000,5.0,37.000000,4.099990e+05
50%,2016.000000,51834.000000,1368.000000,3995.000000,5.0,43.000000,6.250000e+05
75%,2018.000000,70581.000000,1591.000000,4405.000000,5.0,52.000000,1.082500e+06
max,2022.000000,135797.000000,2997.000000,4969.000000,5.0,75.000000,3.025000e+06

In [258]:
arr = ['Seating Capacity']
for i in arr:
  print(cleaned_df[i].unique(),'\n')
  print(cleaned_df[i].value_counts(),'\n')

[5.]

Seating Capacity
5.0    1419
Name: count, dtype: int64

In [259]:
from collections import Counter
all_dicts = {}
arr = ['Make','Fuel Type','Owner']
for col in arr:
  all_dicts[col] = dict(Counter(final_df[col]))

In [260]:
final_df['Make'] = final_df['Make'].apply(lambda x: 'Other' if all_dicts['Make'][x]<=50 else x)
final_df['Fuel Type'] = final_df['Fuel Type'].apply(lambda x: 'Other Type' if all_dicts['Fuel Type'][x]<=50 else x)
final_df['Owner'] = final_df['Owner'].apply(lambda x: 'Second +' if all_dicts['Owner'][x]<=50 else x)

C:\Users\Ashish Yadav\AppData\Local\Temp\ipykernel_1280\3554662961.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df['Make'] = final_df['Make'].apply(lambda x: 'Other' if all_dicts['Make'][x]<=50 else x)
C:\Users\Ashish Yadav\AppData\Local\Temp\ipykernel_1280\3554662961.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df['Fuel Type'] = final_df['Fuel Type'].apply(lambda x: 'Other Type' if all_dicts['Fuel Type'][x]<=50 else x)
C:\Users\Ashish Yadav\AppData\Local\Temp\ipykernel_1280\3554662961.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df['Owner'] = final_df['Owner'].apply(lambda x: 'Second +' if all_dicts['Owner'][x]<=50 else x)

In [261]:
final_df.to_csv('G:\Ashish Yadav\Backup Google Drive\Documents-Lecture\Github\ML-Mini-Project\data\processed\preprocessed.csv',index=False)

In [262]:
with open('G:\Ashish Yadav\Backup Google Drive\Documents-Lecture\Github\ML-Mini-Project\config\dataframe.pkl','wb') as file:
    pickle.dump(final_df,file)

In [263]:
d = {}
make_model_map = zip(final_df['Make'],final_df['Model'])
for company,model in make_model_map:
    if company in d:
        d[company].add(model)
    else:
        d[company] = set([model])

In [264]:
with open('G:\Ashish Yadav\Backup Google Drive\Documents-Lecture\Github\ML-Mini-Project\config\car_model_mapping.pkl','wb') as fd:
    pickle.dump(d,fd)