# Preprocessing

## Importing Libraries

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import pickle

## Loading Dataset

In [2]:
df = pd.read_csv('G:\Ashish Yadav\Backup Google Drive\Documents-Lecture\Github\ML-Mini-Project\data\\raw\car_dataset.csv')

## Data Exploration

In [3]:
df.sample(5)

,Make,Model,Price,Year,Kilometer,Fuel Type,Transmission,Location,Color,Owner,Seller Type,Engine,Max Power,Max Torque,Drivetrain,Length,Width,Height,Seating Capacity,Fuel Tank Capacity
852,Toyota,Innova 2.8 ZX AT 7 STR [2016-2020],2175000,2018,40000,Diesel,Automatic,Ludhiana,Bronze,First,Individual,2755 cc,172 bhp @ 3400 rpm,360 Nm @ 1200 rpm,RWD,4735.0,1830.0,1795.0,7.0,55.0
864,Tata,Tiago Revotron XTA [2017-2019],585000,2019,12000,Petrol,Automatic,Mumbai,Silver,First,Individual,1199 cc,84 bhp @ 6000 rpm,114 Nm @ 3500 rpm,FWD,3746.0,1647.0,1535.0,5.0,35.0
1854,Volvo,V40 D3 R-Design,2050000,2017,68000,Diesel,Automatic,Mumbai,White,Second,Corporate,1984 cc,150 bhp @ 3500 rpm,350 Nm @ 1500 rpm,FWD,4370.0,1783.0,1458.0,5.0,60.0
1878,BMW,5-Series 530d M Sport [2017-2019],5400000,2017,33000,Diesel,Automatic,Bangalore,White,Second,Individual,2993 cc,261 bhp @ 4000 rpm,620 Nm @ 2000 rpm,RWD,4936.0,1868.0,1479.0,4.0,78.0
1952,BMW,X5 xDrive 30d,4175000,2016,27011,Diesel,Automatic,Karnal,White,Second,Individual,2993 cc,258 bhp @ 4000 rpm,560 Nm @ 1500 rpm,AWD,4886.0,1938.0,1762.0,7.0,NaN

In [4]:
df['Model'].nunique()

1050

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2059 entries, 0 to 2058
Data columns (total 20 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Make                2059 non-null   object
 1   Model               2059 non-null   object
 2   Price               2059 non-null   int64
 3   Year                2059 non-null   int64
 4   Kilometer           2059 non-null   int64
 5   Fuel Type           2059 non-null   object
 6   Transmission        2059 non-null   object
 7   Location            2059 non-null   object
 8   Color               2059 non-null   object
 9   Owner               2059 non-null   object
 10  Seller Type         2059 non-null   object
 11  Engine              1979 non-null   object
 12  Max Power           1979 non-null   object
 13  Max Torque          1979 non-null   object
 14  Drivetrain          1923 non-null   object
 15  Length              1995 non-null   float64
 16  Width               1995 non-null   float64
 17  Height              1995 non-null   float64
 18  Seating Capacity    1995 non-null   float64
 19  Fuel Tank Capacity  1946 non-null   float64
dtypes: float64(5), int64(3), object(12)
memory usage: 321.8+ KB

In [6]:
df.describe()

,Price,Year,Kilometer,Length,Width,Height,Seating Capacity,Fuel Tank Capacity
count,2.059000e+03,2059.000000,2.059000e+03,1995.000000,1995.000000,1995.000000,1995.000000,1946.000000
mean,1.702992e+06,2016.425449,5.422471e+04,4280.860652,1767.991980,1591.735338,5.306266,52.002210
std,2.419881e+06,3.363564,5.736172e+04,442.458507,135.265825,136.073956,0.822170,15.110198
min,4.900000e+04,1988.000000,0.000000e+00,3099.000000,1475.000000,1165.000000,2.000000,15.000000
25%,4.849990e+05,2014.000000,2.900000e+04,3985.000000,1695.000000,1485.000000,5.000000,41.250000
50%,8.250000e+05,2017.000000,5.000000e+04,4370.000000,1770.000000,1545.000000,5.000000,50.000000
75%,1.925000e+06,2019.000000,7.200000e+04,4629.000000,1831.500000,1675.000000,5.000000,60.000000
max,3.500000e+07,2022.000000,2.000000e+06,5569.000000,2220.000000,1995.000000,8.000000,105.000000

In [7]:
df.columns

Index(['Make', 'Model', 'Price', 'Year', 'Kilometer', 'Fuel Type',
       'Transmission', 'Location', 'Color', 'Owner', 'Seller Type', 'Engine',
       'Max Power', 'Max Torque', 'Drivetrain', 'Length', 'Width', 'Height',
       'Seating Capacity', 'Fuel Tank Capacity'],
      dtype='object')

In [8]:
df.shape

(2059, 20)

In [9]:
df[['Price','Year','Kilometer','Length','Width','Height','Seating Capacity','Fuel Tank Capacity']].corr()

,Price,Year,Kilometer,Length,Width,Height,Seating Capacity,Fuel Tank Capacity
Price,1.000000,0.311400,-0.150825,0.556741,0.563996,0.075080,-0.038524,0.584631
Year,0.311400,1.000000,-0.296547,0.098770,0.195493,0.116102,-0.006366,0.064512
Kilometer,-0.150825,-0.296547,1.000000,0.047705,0.017462,0.093592,0.125244,0.055975
Length,0.556741,0.098770,0.047705,1.000000,0.807054,0.185451,0.295149,0.813010
Width,0.563996,0.195493,0.017462,0.807054,1.000000,0.296702,0.221689,0.793868
Height,0.075080,0.116102,0.093592,0.185451,0.296702,1.000000,0.695761,0.400884
Seating Capacity,-0.038524,-0.006366,0.125244,0.295149,0.221689,0.695761,1.000000,0.318043
Fuel Tank Capacity,0.584631,0.064512,0.055975,0.813010,0.793868,0.400884,0.318043,1.000000

In [10]:
df.isna().sum()

Make                    0
Model                   0
Price                   0
Year                    0
Kilometer               0
Fuel Type               0
Transmission            0
Location                0
Color                   0
Owner                   0
Seller Type             0
Engine                 80
Max Power              80
Max Torque             80
Drivetrain            136
Length                 64
Width                  64
Height                 64
Seating Capacity       64
Fuel Tank Capacity    113
dtype: int64

## Data Preprocessing

### Engine

In [11]:
df['Engine'] = df['Engine'].apply(lambda x: float(str(x).split()[0]))
engine_mean = df['Engine'].mean()
df['Engine'] = df['Engine'].fillna(engine_mean)
print(df['Engine'].isna().sum())

0

### Drivetrain

In [12]:
df['Drivetrain'] = df['Drivetrain'].apply(lambda x: 'FWD' if isinstance(x,pd.Series) else str(x))
drivetrain_mode =  df['Drivetrain'].mode().iloc[0]
print(drivetrain_mode)
df['Drivetrain'] = df['Drivetrain'].apply(lambda x: drivetrain_mode if x=='nan' else x)
print(df['Drivetrain'].isna().sum())

FWD
0

In [13]:
# length_mean = df['Length'].mean()
# df['Length'] = df['Length'].fillna(length_mean)

In [14]:
# fuel_tank_mean = df['Fuel Tank Capacity'].mean()
# df['Fuel Tank Capacity'] = df['Fuel Tank Capacity'].fillna(round(fuel_tank_mean))

In [15]:
# seating_capacity_mean = df['Seating Capacity'].mean()
# df['Seating Capacity'] = df['Seating Capacity'].fillna(round(seating_capacity_mean))

### Removing outliers

In [16]:
def remove_outliers(df,cols):
  df_cleaned = df.copy()
  for col in cols:
    q1 = df_cleaned[col].quantile(0.25)
    q3 = df_cleaned[col].quantile(0.75)
    iqr = q3-q1
    low = q1 - 1.5*iqr
    high = q3 + 1.5*iqr
    df_cleaned = df_cleaned[(df_cleaned[col]>=low) & (df_cleaned[col]<=high)]
  return df_cleaned

In [17]:
cleaned_df = remove_outliers(df,['Kilometer','Price','Engine'])

In [18]:
cleaned_df.describe()

,Price,Year,Kilometer,Engine,Length,Width,Height,Seating Capacity,Fuel Tank Capacity
count,1.804000e+03,1804.000000,1804.000000,1804.000000,1746.000000,1746.000000,1746.000000,1746.000000,1710.000000
mean,1.088519e+06,2016.196231,53075.499446,1577.679928,4204.474800,1744.827606,1587.091065,5.298969,49.203216
std,9.084269e+05,3.323936,27855.969612,500.236938,407.853145,120.645202,131.224732,0.782304,13.021264
min,4.900000e+04,1988.000000,1.000000,624.000000,3099.000000,1475.000000,1297.000000,2.000000,15.000000
25%,4.500000e+05,2014.000000,32000.000000,1197.000000,3970.000000,1695.000000,1485.000000,5.000000,40.000000
50%,7.275000e+05,2017.000000,51817.000000,1497.000000,4270.000000,1745.000000,1544.000000,5.000000,45.000000
75%,1.475000e+06,2019.000000,72000.000000,1968.000000,4490.000000,1820.000000,1665.000000,5.000000,59.500000
max,4.151000e+06,2022.000000,135797.000000,2999.000000,5252.000000,2141.000000,1995.000000,8.000000,100.000000

### Displaying unique values

In [19]:
arr = ['Make','Fuel Type','Transmission','Owner','Drivetrain']
for i in arr:
  print(cleaned_df[i].unique(),'\n')
  print(cleaned_df[i].value_counts(),'\n')

['Honda' 'Maruti Suzuki' 'Hyundai' 'Toyota' 'Mercedes-Benz' 'BMW' 'Skoda'
 'Nissan' 'Renault' 'Tata' 'Volkswagen' 'Ford' 'Audi' 'Mahindra' 'MG'
 'Jeep' 'Kia' 'Volvo' 'Isuzu' 'Jaguar' 'Land Rover' 'Fiat' 'MINI'
 'Mitsubishi' 'Datsun' 'Chevrolet' 'Ssangyong' 'Lexus' 'Porsche']

Make
Maruti Suzuki    436
Hyundai          345
Honda            157
Toyota           119
Mahindra         113
Audi             103
Mercedes-Benz     86
BMW               72
Tata              55
Volkswagen        50
Renault           42
Skoda             40
Ford              40
Kia               23
Jeep              17
MG                17
Nissan            16
Jaguar            12
Volvo             11
Land Rover        11
MINI              10
Datsun             8
Chevrolet          7
Mitsubishi         4
Ssangyong          3
Isuzu              2
Fiat               2
Lexus              2
Porsche            1
Name: count, dtype: int64

['Petrol' 'Diesel' 'CNG' 'LPG' 'Electric' 'CNG + CNG' 'Petrol + CNG'
 'Petrol + LPG']

Fuel Type
Petrol          871
Diesel          868
CNG              50
Electric          7
LPG               5
CNG + CNG         1
Petrol + CNG      1
Petrol + LPG      1
Name: count, dtype: int64

['Manual' 'Automatic']

Transmission
Manual       1108
Automatic     696
Name: count, dtype: int64

['First' 'Second' 'Third' 'Fourth' 'UnRegistered Car' '4 or More']

Owner
First               1420
Second               340
Third                 32
UnRegistered Car       8
Fourth                 3
4 or More              1
Name: count, dtype: int64

['FWD' 'RWD' 'AWD']

Drivetrain
FWD    1425
RWD     232
AWD     147
Name: count, dtype: int64

### Saving processed dataframe in csv file

In [20]:
final_df =  cleaned_df[['Make','Model','Year', 'Kilometer', 'Fuel Type',
       'Transmission', 'Location','Owner','Engine','Drivetrain','Price']]

In [21]:
final_df.sample(5)

,Make,Model,Year,Kilometer,Fuel Type,Transmission,Location,Owner,Engine,Drivetrain,Price
743,Mercedes-Benz,C-Class C 220d Progressive [2018-2019],2019,33000,Diesel,Automatic,Delhi,First,1950.000000,RWD,3900000
633,Volkswagen,Vento Trendline Diesel,2012,80000,Diesel,Manual,Chandigarh,Second,1692.575543,FWD,360000
403,Maruti Suzuki,Celerio X Zxi AMT [2017-2019],2017,32000,Petrol,Automatic,Chennai,Second,998.000000,FWD,500000
117,Hyundai,Santro GL LPG,2009,48500,LPG,Manual,Lucknow,Fourth,1086.000000,FWD,120000
1568,Nissan,Sunny XV Diesel,2013,35000,Diesel,Manual,Kanpur,First,1461.000000,FWD,380000

In [22]:
final_df.shape

(1804, 11)

In [23]:
final_df.describe()

              Year      Kilometer       Engine         Price
count  1804.000000    1804.000000  1804.000000  1.804000e+03
mean   2016.196231   53075.499446  1577.679928  1.088519e+06
std       3.323936   27855.969612   500.236938  9.084269e+05
min    1988.000000       1.000000   624.000000  4.900000e+04
25%    2014.000000   32000.000000  1197.000000  4.500000e+05
50%    2017.000000   51817.000000  1497.000000  7.275000e+05
75%    2019.000000   72000.000000  1968.000000  1.475000e+06
max    2022.000000  135797.000000  2999.000000  4.151000e+06

In [24]:
# arr = ['Seating Capacity']
# for i in arr:
#   print(cleaned_df[i].unique(),'\n')
#   print(cleaned_df[i].value_counts(),'\n')

In [25]:
from collections import Counter
all_dicts = {}
arr = ['Make','Fuel Type','Owner']
for col in arr:
  all_dicts[col] = dict(Counter(final_df[col]))

In [26]:
# final_df['Make'] = final_df['Make'].apply(lambda x: 'other' if all_dicts['Make'][x]<=50 else x)
# final_df['Fuel Type'] = final_df['Fuel Type'].apply(lambda x: 'other fuel type' if all_dicts['Fuel Type'][x]<=50 else x)
# final_df['Owner'] = final_df['Owner'].apply(lambda x: 'second +' if all_dicts['Owner'][x]<=50 else x)

final_df['Make'] = final_df['Make'].apply(lambda x: None if all_dicts['Make'][x]<=12 else x)
final_df['Fuel Type'] = final_df['Fuel Type'].apply(lambda x: None if all_dicts['Fuel Type'][x]<=50 else x)
final_df['Owner'] = final_df['Owner'].apply(lambda x: None if all_dicts['Owner'][x]<=32 else x)

C:\Users\Ashish Yadav\AppData\Local\Temp\ipykernel_6484\3846618764.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df['Make'] = final_df['Make'].apply(lambda x: None if all_dicts['Make'][x]<=12 else x)
C:\Users\Ashish Yadav\AppData\Local\Temp\ipykernel_6484\3846618764.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df['Fuel Type'] = final_df['Fuel Type'].apply(lambda x: None if all_dicts['Fuel Type'][x]<=50 else x)
C:\Users\Ashish Yadav\AppData\Local\Temp\ipykernel_6484\3846618764.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df['Owner'] = final_df['Owner'].apply(lambda x: None if all_dicts['Owner'][x]<=32 else x)

In [27]:
print(final_df.isna().sum())
print(final_df.shape)

Make            73
Model            0
Year             0
Kilometer        0
Fuel Type       65
Transmission     0
Location         0
Owner           44
Engine           0
Drivetrain       0
Price            0
dtype: int64
(1804, 11)

In [28]:
final_df = final_df.dropna()
final_df.shape

(1624, 11)

### Saving processed dataframe in csv file

In [29]:
final_df.to_csv('G:\Ashish Yadav\Backup Google Drive\Documents-Lecture\Github\ML-Mini-Project\data\processed\processed.csv',index=False)

### Saving dataframe in pickle file

In [30]:
with open('G:\Ashish Yadav\Backup Google Drive\Documents-Lecture\Github\ML-Mini-Project\config\dataframe.pkl','wb') as file:
    pickle.dump(final_df,file)

### Mapping car manufacturer to respective car models

In [31]:
d = {}
make_model_map = zip(final_df['Make'],final_df['Model'])
for company,model in make_model_map:
    if company in d:
        d[company].add(model)
    else:
        d[company] = set([model])

### Saving car model mapping in pickle file

In [32]:
with open('G:\Ashish Yadav\Backup Google Drive\Documents-Lecture\Github\ML-Mini-Project\config\car_model_mapping.pkl','wb') as fd:
    pickle.dump(d,fd)