In [1]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd

In [2]:
df = pd.read_csv('G:\Ashish Yadav\Backup Google Drive\Documents-Lecture\Github\ML-Mini-Project\data\\raw\car_dataset.csv')
# df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/car_dataset.csv')
df.head()

,Make,Model,Price,Year,Kilometer,Fuel Type,Transmission,Location,Color,Owner,Seller Type,Engine,Max Power,Max Torque,Drivetrain,Length,Width,Height,Seating Capacity,Fuel Tank Capacity
0,Honda,Amaze 1.2 VX i-VTEC,505000,2017,87150,Petrol,Manual,Pune,Grey,First,Corporate,1198 cc,87 bhp @ 6000 rpm,109 Nm @ 4500 rpm,FWD,3990.0,1680.0,1505.0,5.0,35.0
1,Maruti Suzuki,Swift DZire VDI,450000,2014,75000,Diesel,Manual,Ludhiana,White,Second,Individual,1248 cc,74 bhp @ 4000 rpm,190 Nm @ 2000 rpm,FWD,3995.0,1695.0,1555.0,5.0,42.0
2,Hyundai,i10 Magna 1.2 Kappa2,220000,2011,67000,Petrol,Manual,Lucknow,Maroon,First,Individual,1197 cc,79 bhp @ 6000 rpm,112.7619 Nm @ 4000 rpm,FWD,3585.0,1595.0,1550.0,5.0,35.0
3,Toyota,Glanza G,799000,2019,37500,Petrol,Manual,Mangalore,Red,First,Individual,1197 cc,82 bhp @ 6000 rpm,113 Nm @ 4200 rpm,FWD,3995.0,1745.0,1510.0,5.0,37.0
4,Toyota,Innova 2.4 VX 7 STR [2016-2020],1950000,2018,69000,Diesel,Manual,Mumbai,Grey,First,Individual,2393 cc,148 bhp @ 3400 rpm,343 Nm @ 1400 rpm,RWD,4735.0,1830.0,1795.0,7.0,55.0

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2059 entries, 0 to 2058
Data columns (total 20 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Make                2059 non-null   object
 1   Model               2059 non-null   object
 2   Price               2059 non-null   int64
 3   Year                2059 non-null   int64
 4   Kilometer           2059 non-null   int64
 5   Fuel Type           2059 non-null   object
 6   Transmission        2059 non-null   object
 7   Location            2059 non-null   object
 8   Color               2059 non-null   object
 9   Owner               2059 non-null   object
 10  Seller Type         2059 non-null   object
 11  Engine              1979 non-null   object
 12  Max Power           1979 non-null   object
 13  Max Torque          1979 non-null   object
 14  Drivetrain          1923 non-null   object
 15  Length              1995 non-null   float64
 16  Width               1995 non-null   float64
 17  Height              1995 non-null   float64
 18  Seating Capacity    1995 non-null   float64
 19  Fuel Tank Capacity  1946 non-null   float64
dtypes: float64(5), int64(3), object(12)
memory usage: 321.8+ KB

In [4]:
df.describe()

,Price,Year,Kilometer,Length,Width,Height,Seating Capacity,Fuel Tank Capacity
count,2.059000e+03,2059.000000,2.059000e+03,1995.000000,1995.000000,1995.000000,1995.000000,1946.000000
mean,1.702992e+06,2016.425449,5.422471e+04,4280.860652,1767.991980,1591.735338,5.306266,52.002210
std,2.419881e+06,3.363564,5.736172e+04,442.458507,135.265825,136.073956,0.822170,15.110198
min,4.900000e+04,1988.000000,0.000000e+00,3099.000000,1475.000000,1165.000000,2.000000,15.000000
25%,4.849990e+05,2014.000000,2.900000e+04,3985.000000,1695.000000,1485.000000,5.000000,41.250000
50%,8.250000e+05,2017.000000,5.000000e+04,4370.000000,1770.000000,1545.000000,5.000000,50.000000
75%,1.925000e+06,2019.000000,7.200000e+04,4629.000000,1831.500000,1675.000000,5.000000,60.000000
max,3.500000e+07,2022.000000,2.000000e+06,5569.000000,2220.000000,1995.000000,8.000000,105.000000

In [5]:
df.columns

Index(['Make', 'Model', 'Price', 'Year', 'Kilometer', 'Fuel Type',
       'Transmission', 'Location', 'Color', 'Owner', 'Seller Type', 'Engine',
       'Max Power', 'Max Torque', 'Drivetrain', 'Length', 'Width', 'Height',
       'Seating Capacity', 'Fuel Tank Capacity'],
      dtype='object')

In [6]:
df.shape

(2059, 20)

In [7]:
# df.corr()

In [8]:
df.isna().sum()

Make                    0
Model                   0
Price                   0
Year                    0
Kilometer               0
Fuel Type               0
Transmission            0
Location                0
Color                   0
Owner                   0
Seller Type             0
Engine                 80
Max Power              80
Max Torque             80
Drivetrain            136
Length                 64
Width                  64
Height                 64
Seating Capacity       64
Fuel Tank Capacity    113
dtype: int64

In [9]:
def fix_engine(item):
  if pd.isnull(item):
    return None
  return int(item.split(" ")[0])
df['Engine'] = df['Engine'].apply(fix_engine)

In [10]:
engine_mean = df['Engine'].mean()
df['Engine'] = df['Engine'].fillna(engine_mean)

In [11]:
drivetrain_mode = df['Drivetrain'].mode()
def fix_drivetrain(item):
  if pd.isnull(item):
    return drivetrain_mode
  return item

In [12]:
df['Drivetrain'] = df['Drivetrain'].apply(fix_drivetrain)

In [13]:
length_mean = df['Length'].mean()
df['Length'] = df['Length'].fillna(length_mean)

In [14]:
fuel_tank_mean = df['Fuel Tank Capacity'].mean()
df['Fuel Tank Capacity'] = df['Fuel Tank Capacity'].fillna(round(fuel_tank_mean))

In [15]:
seating_capacity_mean = df['Seating Capacity'].mean()
df['Seating Capacity'] = df['Seating Capacity'].fillna(round(seating_capacity_mean))

In [16]:
def remove_outliers(df,cols):
  df_cleaned = df.copy()
  for col in cols:
    q1 = df_cleaned[col].quantile(0.25)
    q3 = df_cleaned[col].quantile(0.75)
    iqr = q3-q1
    low = q1 - 1.5*iqr
    high = q3 + 1.5*iqr
    df_cleaned = df_cleaned[(df_cleaned[col]>=low) & (df_cleaned[col]<=high)]
  return df_cleaned

In [17]:
cleaned_df = remove_outliers(df,['Kilometer','Engine','Length','Fuel Tank Capacity'])

In [18]:
cleaned_df.describe()

,Price,Year,Kilometer,Engine,Length,Width,Height,Seating Capacity,Fuel Tank Capacity
count,1.954000e+03,1954.000000,1954.000000,1954.000000,1954.000000,1891.000000,1891.000000,1954.000000,1954.000000
mean,1.510984e+06,2016.479017,50931.322927,1629.199318,4251.417206,1757.974088,1585.858276,5.276356,50.491812
std,1.807846e+06,3.349396,28175.666835,528.195464,420.460672,127.396975,131.160385,0.778213,12.870875
min,4.900000e+04,1988.000000,0.000000,624.000000,3099.000000,1475.000000,1281.000000,2.000000,15.000000
25%,4.750000e+05,2014.000000,29000.000000,1197.000000,3985.000000,1695.000000,1485.000000,5.000000,42.000000
50%,7.950000e+05,2017.000000,49816.500000,1497.000000,4300.000000,1765.000000,1544.000000,5.000000,50.000000
75%,1.789999e+06,2019.000000,71000.000000,1987.000000,4585.000000,1828.500000,1665.000000,5.000000,60.000000
max,2.000000e+07,2022.000000,135797.000000,2999.000000,5255.000000,2220.000000,1995.000000,8.000000,85.000000

In [19]:
arr = ['Make','Fuel Type','Transmission','Owner','Seating Capacity']
for i in arr:
  print(cleaned_df[i].unique(),'\n')
  print(cleaned_df[i].value_counts(),'\n')

['Honda' 'Maruti Suzuki' 'Hyundai' 'Toyota' 'Mercedes-Benz' 'BMW' 'Skoda'
 'Nissan' 'Renault' 'Tata' 'Volkswagen' 'Ford' 'Audi' 'Mahindra' 'MG'
 'Jeep' 'Porsche' 'Kia' 'Land Rover' 'Volvo' 'Maserati' 'Jaguar' 'Isuzu'
 'Fiat' 'MINI' 'Mitsubishi' 'Datsun' 'Chevrolet' 'Ssangyong' 'Lexus']

Make
Maruti Suzuki    436
Hyundai          345
Honda            157
Mercedes-Benz    128
Toyota           121
BMW              120
Audi             115
Mahindra         113
Tata              55
Volkswagen        50
Renault           42
Skoda             40
Ford              40
Land Rover        29
Kia               23
Jeep              18
MG                17
Jaguar            17
Nissan            16
Volvo             16
Porsche           13
MINI              11
Datsun             8
Chevrolet          7
Lexus              6
Mitsubishi         3
Ssangyong          3
Isuzu              2
Fiat               2
Maserati           1
Name: count, dtype: int64

['Petrol' 'Diesel' 'CNG' 'LPG' 'Electric' 'CNG + CNG' 'Hybrid'
 'Petrol + CNG' 'Petrol + LPG']

Fuel Type
Diesel          969
Petrol          917
CNG              50
Electric          7
LPG               5
Hybrid            3
CNG + CNG         1
Petrol + CNG      1
Petrol + LPG      1
Name: count, dtype: int64

['Manual' 'Automatic']

Transmission
Manual       1108
Automatic     846
Name: count, dtype: int64

['First' 'Second' 'Third' 'Fourth' 'UnRegistered Car' '4 or More']

Owner
First               1545
Second               351
Third                 33
UnRegistered Car      21
Fourth                 3
4 or More              1
Name: count, dtype: int64

[5. 7. 4. 8. 2. 6.]

Seating Capacity
5.0    1626
7.0     236
4.0      34
8.0      32
6.0      21
2.0       5
Name: count, dtype: int64

In [20]:
final_df =  cleaned_df[['Make','Model','Year','Kilometer','Fuel Type','Transmission','Owner','Engine', 'Length','Seating Capacity', 'Fuel Tank Capacity','Price']]

In [21]:
final_df.sample(5)

,Make,Model,Year,Kilometer,Fuel Type,Transmission,Owner,Engine,Length,Seating Capacity,Fuel Tank Capacity,Price
1086,Hyundai,Accent Executive,2015,41273,Petrol,Manual,First,1495.0,4250.0,5.0,45.0,400000
555,Audi,Q3 2.0 TDI quattro Premium Plus,2015,79000,Diesel,Automatic,Second,1968.0,4385.0,5.0,64.0,1513000
967,Hyundai,Santro Sportz AMT [2018-2020],2019,34400,Petrol,Automatic,First,1086.0,3610.0,5.0,35.0,434999
1606,Honda,City VX CVT,2015,59000,Petrol,Automatic,First,1497.0,4440.0,5.0,40.0,690000
371,Mercedes-Benz,C-Class Cabriolet C 300,2020,21000,Petrol,Automatic,Second,1991.0,4686.0,4.0,59.0,6500000

In [22]:
final_df.shape

(1954, 12)

In [23]:
# from collections import Counter
# all_dicts = {}
# arr = ['Make','Fuel Type','Owner']
# for col in arr:
#   all_dicts[col] = dict(Counter(final_df[col]))

In [24]:
# final_df['Make'] = final_df['Make'].apply(lambda x: 'Other' if all_dicts['Make'][x]<=50 else x)
# final_df['Fuel Type'] = final_df['Fuel Type'].apply(lambda x: 'Other Type' if all_dicts['Fuel Type'][x]<=50 else x)
# final_df['Owner'] = final_df['Owner'].apply(lambda x: 'Second +' if all_dicts['Owner'][x]<=50 else x)

In [25]:
X = final_df.iloc[:,:-1].values
y = final_df.iloc[:,-1].values

In [26]:
from sklearn.model_selection import train_test_split
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.ensemble import RandomForestRegressor
from sklearn.preprocessing import OneHotEncoder
from sklearn.metrics import r2_score

In [27]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.25,random_state=3)# 3-15
model = RandomForestRegressor(random_state=10)# 6-8-10
encoding = ('encoding',OneHotEncoder(sparse_output=False,drop='first',handle_unknown='ignore'),[0,1,4,5,6])
preprocessing = ColumnTransformer(
    transformers=[encoding],
    remainder='passthrough'
)
pipe = Pipeline([
    ('preprocessing',preprocessing),
    ('model',model)
])
pipe.fit(X_train,y_train)

Pipeline(steps=[('preprocessing',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('encoding',
                                                  OneHotEncoder(drop='first',
                                                                handle_unknown='ignore',
                                                                sparse_output=False),
                                                  [0, 1, 4, 5, 6])])),
                ('model', RandomForestRegressor(random_state=10))])

In [28]:
y_pred = pipe.predict(X_test)
print(f'Train Score: {round(pipe.score(X_train,y_train)*100,2)}%')
print(f'Test Score: {round(pipe.score(X_test,y_test)*100,2)}%')
print(f'R2 Score: {round(r2_score(y_test,y_pred)*100,2)}%')

C:\Users\Ashish Yadav\AppData\Roaming\Python\Python311\site-packages\sklearn\preprocessing\_encoders.py:227: UserWarning: Found unknown categories in columns [1, 4] during transform. These unknown categories will be encoded as all zeros
  warnings.warn(

Train Score: 97.93%
Test Score: 92.25%
R2 Score: 92.25%

C:\Users\Ashish Yadav\AppData\Roaming\Python\Python311\site-packages\sklearn\preprocessing\_encoders.py:227: UserWarning: Found unknown categories in columns [1, 4] during transform. These unknown categories will be encoded as all zeros
  warnings.warn(

In [29]:
import pickle

In [30]:
with open('rfr_model.pkl','wb') as file:
  pickle.dump(pipe,file)

In [31]:
model = None
with open('rfr_model.pkl','rb') as f:
  model=pickle.load(f)